<a href="https://colab.research.google.com/github/JAYDEEPMISHR/PYTHON/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('SalaryData.xlsx')
print(df)

     NAME  EMPID  SALARY Month
0     ABC      1   10000   Jan
1     XYZ      2   10000   Jan
2     PQR      3   10000   Jan
3     STU      4   10000   Jan
4    DSDS      5   10000   Jan
5    CVSD      6   10000   Jan
6    DCSD      7   10000   Jan
7     DCX      8   10000   Jan
8   DSCSD      9   10000   Jan
9   SDCXC     10   10000   Jan
10    C X     11   10000   Jan
11    SFS     12   10000   Jan
12     GD     13   10000   Jan
13    GDX     14   10000   Jan
14     SG     15   10000   Jan
15      F     16   10000   Jan
16  hskjh     17   10000   Jan

In [3]:
print(df.head()) # Gives the first b default Five record from the database

   NAME  EMPID  SALARY Month
0   ABC      1   10000   Jan
1   XYZ      2   10000   Jan
2   PQR      3   10000   Jan
3   STU      4   10000   Jan
4  DSDS      5   10000   Jan

In [4]:
print(df.head(7)) # If you want to see 7 records from the data

   NAME  EMPID  SALARY Month
0   ABC      1   10000   Jan
1   XYZ      2   10000   Jan
2   PQR      3   10000   Jan
3   STU      4   10000   Jan
4  DSDS      5   10000   Jan
5  CVSD      6   10000   Jan
6  DCSD      7   10000   Jan

In [5]:
print(df.tail()) # Gives the last five record (bydefault) from the database

     NAME  EMPID  SALARY Month
12     GD     13   10000   Jan
13    GDX     14   10000   Jan
14     SG     15   10000   Jan
15      F     16   10000   Jan
16  hskjh     17   10000   Jan

In [7]:
print(df.tail(1))

     NAME  EMPID  SALARY Month
16  hskjh     17   10000   Jan

In [8]:
print(df.info()) # If you want to get the information about the database

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NAME    17 non-null     object
 1   EMPID   17 non-null     int64
 2   SALARY  17 non-null     int64
 3   Month   17 non-null     object
dtypes: int64(2), object(2)
memory usage: 676.0+ bytes
None

In [9]:
# Describe the statistical information of the numerical coloums (Gives only numerical coloums)
print(df.describe())

           EMPID   SALARY
count  17.000000     17.0
mean    9.000000  10000.0
std     5.049752      0.0
min     1.000000  10000.0
25%     5.000000  10000.0
50%     9.000000  10000.0
75%    13.000000  10000.0
max    17.000000  10000.0

In [12]:
# To get all the coloums
print(df.columns)

Index(['NAME', 'EMPID', 'SALARY', 'Month'], dtype='object')

In [13]:
# Do the transpose of the dataframe
print(df.T)

           0      1      2      3      4      5      6      7      8      9   \
NAME      ABC    XYZ    PQR    STU   DSDS   CVSD   DCSD    DCX  DSCSD  SDCXC
EMPID       1      2      3      4      5      6      7      8      9     10
SALARY  10000  10000  10000  10000  10000  10000  10000  10000  10000  10000
Month     Jan    Jan    Jan    Jan    Jan    Jan    Jan    Jan    Jan    Jan

           10     11     12     13     14     15     16
NAME      C X    SFS     GD    GDX     SG      F  hskjh
EMPID      11     12     13     14     15     16     17
SALARY  10000  10000  10000  10000  10000  10000  10000
Month     Jan    Jan    Jan    Jan    Jan    Jan    Jan